USE [ChuyenPhatNhanh]
GO
/****** Object:  Table [dbo].[BILL_HDR_TBL]    Script Date: 9/27/2017 10:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL_HDR_TBL](
	[DELETE_FLAG] [bit] NULL,
	[REG_USER_NAME] [nvarchar](20) NULL,
	[MOD_USER_NAME] [nvarchar](20) NULL,
	[REG_DATE] [datetime] NULL,
	[MOD_DATE] [datetime] NULL,
	[BILL_HDR_ID] [nvarchar](20) NOT NULL,
	[CUST_FROM_ID] [nvarchar](20) NULL,
	[CUST_TO_ID] [nvarchar](20) NULL,
	[STATUS] [nchar](10) NULL,
	[WARD_ID_FROM] [nvarchar](20) NULL,
	[ADDRESS_FROM] [nvarchar](100) NULL,
	[WARD_ID_TO] [nvarchar](20) NULL,
	[ADDRESS_TO] [nvarchar](100) NULL,
	[WARD_ID_CURRENT] [nvarchar](20) NULL,
	[ADDRESS_CURRENT] [nvarchar](100) NULL,
	[BRANCH_ID_CURRENT] [nvarchar](20) NULL,
 CONSTRAINT [PK_BILL_HDR_TBL] PRIMARY KEY CLUSTERED 
(
	[BILL_HDR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILL_LOG_TBL]    Script Date: 9/27/2017 10:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL_LOG_TBL](
	[DELETE_FLAG] [bit] NULL,
	[REG_DATE] [datetime] NULL,
	[REG_USER_NAME] [nvarchar](20) NULL,
	[MOD_DATE] [datetime] NULL,
	[MOD_USER_NAME] [nvarchar](20) NULL,
	[BILL_LOG_ID] [nvarchar](20) NOT NULL,
	[TRANSACTION_DATE] [datetime] NULL,
	[TRANSACTION_ID] [nvarchar](20) NOT NULL,
	[CUST_FROM_ID] [nvarchar](20) NULL,
	[CUST_TO_ID] [nvarchar](20) NULL,
	[STATUS] [nchar](10) NULL,
	[WARD_ID_FROM] [nvarchar](20) NULL,
	[ADDRESS_FROM] [nvarchar](100) NULL,
	[WARD_ID_TO] [nvarchar](20) NULL,
	[ADDRESS_TO] [nvarchar](100) NULL,
	[WARD_ID_CURRENT] [nvarchar](20) NULL,
	[ADDRESS_CURRENT] [nvarchar](100) NULL,
	[BRANCH_ID_CURRENT] [nvarchar](20) NULL,
 CONSTRAINT [PK_BILL_LOG_TBL] PRIMARY KEY CLUSTERED 
(
	[BILL_LOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILL_TBL]    Script Date: 9/27/2017 10:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL_TBL](
	[DELETE_FLAG] [bit] NULL,
	[REG_DATE] [datetime] NULL,
	[MOD_DATE] [datetime] NULL,
	[REG_USER_NAME] [nvarchar](20) NULL,
	[MOD_USER_NAME] [nvarchar](20) NULL,
	[BILL_ID] [nvarchar](20) NOT NULL,
	[BILL_HDR_ID] [nvarchar](20) NULL,
	[BILL_STATUS] [nchar](2) NULL,
	[WEIGHT] [numeric](18, 3) NULL,
	[PRICE] [money] NULL,
	[AMOUNT] [money] NULL,
	[SEND_DATE] [date] NULL,
	[COMMENT] [nvarchar](2000) NULL,
 CONSTRAINT [PK_BILL_TBL] PRIMARY KEY CLUSTERED 
(
	[BILL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BRANCH_MST]    Script Date: 9/27/2017 10:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BRANCH_MST](
	[DELETE_FLAG] [bit] NULL,
	[REG_DATE] [datetime] NULL,
	[MOD_DATE] [datetime] NULL,
	[REG_USER_NAME] [nvarchar](20) NULL,
	[MOD_USER_NAME] [nvarchar](20) NULL,
	[BRANCH_ID] [nvarchar](20) NOT NULL,
	[BRANCH_NAME] [nvarchar](50) NULL,
	[ADDRESS] [nvarchar](100) NULL,
	[WARD_ID] [nvarchar](20) NULL,
	[LATITUDE] [numeric](13, 9) NULL,
	[LONGITUDE] [numeric](13, 9) NULL,
 CONSTRAINT [PK_BRANCH_MST] PRIMARY KEY CLUSTERED 
(
	[BRANCH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUST_MST]    Script Date: 9/27/2017 10:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUST_MST](
	[DELETE_FLAG] [bit] NULL,
	[REG_DATE] [datetime] NULL,
	[MOD_DATE] [datetime] NULL,
	[REG_USER_NAME] [nvarchar](20) NULL,
	[MOD_USER_NAME] [nvarchar](20) NULL,
	[CUST_ID] [nvarchar](20) NOT NULL,
	[CUST_NAME] [nvarchar](50) NULL,
	[PHONE] [nvarchar](50) NULL,
	[DEFAULT_WARD_ID] [nvarchar](20) NULL,
	[DEFAULT_ADDRESS] [nvarchar](100) NULL,
 CONSTRAINT [PK_CUST_MST] PRIMARY KEY CLUSTERED 
(
	[CUST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISTRICT_MST]    Script Date: 9/27/2017 10:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISTRICT_MST](
	[DELETE_FLAG] [bit] NULL,
	[REG_DATE] [datetime] NULL,
	[MOD_DATE] [datetime] NULL,
	[REG_USER_NAME] [nvarchar](20) NULL,
	[MOD_USER_NAME] [nvarchar](20) NULL,
	[DISTRICT_ID] [nvarchar](20) NOT NULL,
	[DISTRICT_NAME] [nvarchar](70) NULL,
 CONSTRAINT [PK_DISTRICT_MST] PRIMARY KEY CLUSTERED 
(
	[DISTRICT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE_MST]    Script Date: 9/27/2017 10:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE_MST](
	[DELETE_FLAG] [bit] NULL,
	[REG_USER_NAME] [nvarchar](20) NULL,
	[MOD_USER_NAME] [nvarchar](20) NULL,
	[REG_DATE] [datetime] NULL,
	[MOD_DATE] [datetime] NULL,
	[ROLE_ID] [nvarchar](20) NOT NULL,
	[TYPE_ROLE] [nvarchar](50) NULL,
	[DESCRIPTION] [nvarchar](50) NULL,
 CONSTRAINT [PK_ROLE_MST] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEC_ROLE_MST]    Script Date: 9/27/2017 10:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEC_ROLE_MST](
	[DELETE_FLAG] [bit] NULL,
	[REG_USER_NAME] [nvarchar](20) NULL,
	[MOD_USER_NAME] [nvarchar](20) NULL,
	[REG_DATE] [datetime] NULL,
	[MOD_DATE] [datetime] NULL,
	[SEC_ROLE_ID] [nvarchar](20) NOT NULL,
	[VALUE] [nvarchar](50) NULL,
	[ROLE_ID] [nvarchar](20) NULL,
 CONSTRAINT [PK_SEC_ROLE_MST] PRIMARY KEY CLUSTERED 
(
	[SEC_ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TARIFF_MST]    Script Date: 9/27/2017 10:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARIFF_MST](
	[DELETE_FLAG] [bit] NULL,
	[REG_DATE] [datetime] NULL,
	[MOD_DATE] [datetime] NULL,
	[REG_USER_NAME] [nvarchar](20) NULL,
	[MOD_USER_NAME] [nvarchar](20) NULL,
	[TARIFF_ID] [nvarchar](20) NOT NULL,
	[WEIGHT_FROM] [decimal](18, 2) NULL,
	[WEIGHT_TO] [decimal](18, 2) NULL,
	[DISTANCE_FROM] [decimal](18, 3) NULL,
	[DISTANCE_TO] [decimal](18, 3) NULL,
	[PRICE] [decimal](18, 3) NULL,
 CONSTRAINT [PK_PRODUCT_MST] PRIMARY KEY CLUSTERED 
(
	[TARIFF_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_CONFIG_MST]    Script Date: 9/27/2017 10:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_CONFIG_MST](
	[DELETE_FLAG] [bit] NULL,
	[REG_USER_NAME] [nvarchar](20) NULL,
	[MOD_USER_NAME] [nvarchar](20) NULL,
	[REG_DATE] [datetime] NULL,
	[MOD_DATE] [datetime] NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[BRANCH_ID] [nvarchar](20) NULL,
	[ROLE_ID] [nvarchar](20) NULL,
 CONSTRAINT [PK_USER_CONFIG_MST] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_MST]    Script Date: 9/27/2017 10:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_MST](
	[DELETE_FLAG] [bit] NULL,
	[REG_DATE] [datetime] NULL,
	[MOD_DATE] [datetime] NULL,
	[REG_USER_NAME] [nvarchar](20) NULL,
	[MOD_USER_NAME] [nvarchar](20) NULL,
	[USER_ID] [nvarchar](20) NOT NULL,
	[USER_NAME] [varchar](15) NULL,
	[PASSWORD] [varchar](50) NULL,
	[NUMBER_LOGIN_FAIL] [int] NULL,
	[LAST_CHANGE_PASS] [datetime] NULL,
	[OLD_PASSWORD] [varchar](50) NULL,
	[ADDRESS] [varchar](50) NULL,
	[PHONE] [varchar](15) NULL,
 CONSTRAINT [PK_USER_MST] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WARD_MST]    Script Date: 9/27/2017 10:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WARD_MST](
	[DELETE_FLAG] [bit] NULL,
	[REG_DATE] [datetime] NULL,
	[MOD_DATE] [datetime] NULL,
	[REG_USER_NAME] [nvarchar](20) NULL,
	[MOD_USER_NAME] [nvarchar](20) NULL,
	[WARD_ID] [nvarchar](20) NOT NULL,
	[WARD_NAME] [nvarchar](50) NULL,
	[DISTRICT_ID] [nvarchar](20) NULL,
 CONSTRAINT [PK_WARD_MST] PRIMARY KEY CLUSTERED 
(
	[WARD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BILL_HDR_TBL] ([DELETE_FLAG], [REG_USER_NAME], [MOD_USER_NAME], [REG_DATE], [MOD_DATE], [BILL_HDR_ID], [CUST_FROM_ID], [CUST_TO_ID], [STATUS], [WARD_ID_FROM], [ADDRESS_FROM], [WARD_ID_TO], [ADDRESS_TO], [WARD_ID_CURRENT], [ADDRESS_CURRENT], [BRANCH_ID_CURRENT]) VALUES (NULL, N'BATCHUS', N'BATCHUS', CAST(N'2017-09-27T16:59:02.167' AS DateTime), CAST(N'2017-09-27T16:59:02.167' AS DateTime), N'BH270920170000000007', NULL, NULL, NULL, N'16', N'Hà Tĩnh', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[BILL_HDR_TBL] ([DELETE_FLAG], [REG_USER_NAME], [MOD_USER_NAME], [REG_DATE], [MOD_DATE], [BILL_HDR_ID], [CUST_FROM_ID], [CUST_TO_ID], [STATUS], [WARD_ID_FROM], [ADDRESS_FROM], [WARD_ID_TO], [ADDRESS_TO], [WARD_ID_CURRENT], [ADDRESS_CURRENT], [BRANCH_ID_CURRENT]) VALUES (NULL, N'BATCHUS', N'BATCHUS', CAST(N'2017-09-27T17:05:26.093' AS DateTime), CAST(N'2017-09-27T17:05:26.093' AS DateTime), N'BH270920170000000008', N'CU092320170000000013', N'CU092320170000000013', NULL, N'16', N'Hà Tĩnh', N'16', N'Hà Tĩnh', NULL, NULL, NULL)
INSERT [dbo].[BILL_HDR_TBL] ([DELETE_FLAG], [REG_USER_NAME], [MOD_USER_NAME], [REG_DATE], [MOD_DATE], [BILL_HDR_ID], [CUST_FROM_ID], [CUST_TO_ID], [STATUS], [WARD_ID_FROM], [ADDRESS_FROM], [WARD_ID_TO], [ADDRESS_TO], [WARD_ID_CURRENT], [ADDRESS_CURRENT], [BRANCH_ID_CURRENT]) VALUES (0, N'BATCHUS', N'BATCHUS', CAST(N'2017-09-27T17:25:40.353' AS DateTime), CAST(N'2017-09-27T17:25:40.353' AS DateTime), N'BH270920170000000011', N'CU092320170000000013', N'CU092320170000000013', N'NH        ', N'16', N'Hà Tĩnh', N'16', N'Hà Tĩnh', N'17', N'Số 30, Đường Nguyễn Chánh', N'BR240920170000000001')
INSERT [dbo].[BILL_TBL] ([DELETE_FLAG], [REG_DATE], [MOD_DATE], [REG_USER_NAME], [MOD_USER_NAME], [BILL_ID], [BILL_HDR_ID], [BILL_STATUS], [WEIGHT], [PRICE], [AMOUNT], [SEND_DATE], [COMMENT]) VALUES (NULL, CAST(N'2017-09-27T16:59:02.247' AS DateTime), CAST(N'2017-09-27T16:59:02.247' AS DateTime), N'BATCHUS', N'BATCHUS', N'BT270920170000000001', N'BH270920170000000007', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[BILL_TBL] ([DELETE_FLAG], [REG_DATE], [MOD_DATE], [REG_USER_NAME], [MOD_USER_NAME], [BILL_ID], [BILL_HDR_ID], [BILL_STATUS], [WEIGHT], [PRICE], [AMOUNT], [SEND_DATE], [COMMENT]) VALUES (NULL, CAST(N'2017-09-27T17:05:26.100' AS DateTime), CAST(N'2017-09-27T17:05:26.100' AS DateTime), N'BATCHUS', N'BATCHUS', N'BT270920170000000002', N'BH270920170000000008', NULL, CAST(12.000 AS Numeric(18, 3)), 12.0000, NULL, NULL, N'WWWWW')
INSERT [dbo].[BILL_TBL] ([DELETE_FLAG], [REG_DATE], [MOD_DATE], [REG_USER_NAME], [MOD_USER_NAME], [BILL_ID], [BILL_HDR_ID], [BILL_STATUS], [WEIGHT], [PRICE], [AMOUNT], [SEND_DATE], [COMMENT]) VALUES (0, CAST(N'2017-09-27T17:25:40.423' AS DateTime), CAST(N'2017-09-27T17:25:40.423' AS DateTime), N'BATCHUS', N'BATCHUS', N'BT270920170000000003', N'BH270920170000000011', NULL, CAST(12.000 AS Numeric(18, 3)), 12.0000, NULL, CAST(N'2017-09-27' AS Date), N'test comment')
INSERT [dbo].[BRANCH_MST] ([DELETE_FLAG], [REG_DATE], [MOD_DATE], [REG_USER_NAME], [MOD_USER_NAME], [BRANCH_ID], [BRANCH_NAME], [ADDRESS], [WARD_ID], [LATITUDE], [LONGITUDE]) VALUES (1, CAST(N'2017-09-24T10:59:31.700' AS DateTime), CAST(N'2017-09-25T10:35:05.857' AS DateTime), N'BATCHUS', N'BATCHUS', N'BR240920170000000001', N'Chi nhánh Long Xuyên 1', N'Số 30, Đường Nguyễn Chánh', N'17', CAST(30.120000000 AS Numeric(13, 9)), CAST(123.210000000 AS Numeric(13, 9)))
INSERT [dbo].[BRANCH_MST] ([DELETE_FLAG], [REG_DATE], [MOD_DATE], [REG_USER_NAME], [MOD_USER_NAME], [BRANCH_ID], [BRANCH_NAME], [ADDRESS], [WARD_ID], [LATITUDE], [LONGITUDE]) VALUES (0, CAST(N'2017-09-24T15:40:18.543' AS DateTime), CAST(N'2017-09-25T22:23:47.623' AS DateTime), N'BATCHUS', N'BATCHUS', N'BR240920170000000002', N'Chi nhánh Long Xuyên', N'Số 30, Đường Nguyễn Chánh', N'16', CAST(30.120000000 AS Numeric(13, 9)), CAST(123.210000000 AS Numeric(13, 9)))
INSERT [dbo].[CUST_MST] ([DELETE_FLAG], [REG_DATE], [MOD_DATE], [REG_USER_NAME], [MOD_USER_NAME], [CUST_ID], [CUST_NAME], [PHONE], [DEFAULT_WARD_ID], [DEFAULT_ADDRESS]) VALUES (1, CAST(N'2017-09-23T10:08:25.583' AS DateTime), CAST(N'2017-09-24T16:19:59.137' AS DateTime), N'BATCHUS', N'BATCHUS', N'CU092320170000000013', N'Phạm Doãn Giáp', N'0985248426', N'17', N'Hà Tĩnh')
INSERT [dbo].[CUST_MST] ([DELETE_FLAG], [REG_DATE], [MOD_DATE], [REG_USER_NAME], [MOD_USER_NAME], [CUST_ID], [CUST_NAME], [PHONE], [DEFAULT_WARD_ID], [DEFAULT_ADDRESS]) VALUES (0, CAST(N'2017-09-23T10:09:43.050' AS DateTime), CAST(N'2017-09-23T10:09:43.047' AS DateTime), N'BATCHUS', N'BATCHUS', N'CU092320170000000015', N'Nguyễn Hữu Hùng 1', N'01233441221', N'24', N'Hà Tĩnh')
INSERT [dbo].[CUST_MST] ([DELETE_FLAG], [REG_DATE], [MOD_DATE], [REG_USER_NAME], [MOD_USER_NAME], [CUST_ID], [CUST_NAME], [PHONE], [DEFAULT_WARD_ID], [DEFAULT_ADDRESS]) VALUES (0, CAST(N'2017-09-23T10:14:47.013' AS DateTime), CAST(N'2017-09-23T16:22:08.030' AS DateTime), N'BATCHUS', N'BATCHUS', N'CU230920170000000018', N'Nguyễn Hữu Hùng', N'0985248426', N'20', N'ngày 15')
INSERT [dbo].[DISTRICT_MST] ([DELETE_FLAG], [REG_DATE], [MOD_DATE], [REG_USER_NAME], [MOD_USER_NAME], [DISTRICT_ID], [DISTRICT_NAME]) VALUES (0, CAST(N'2017-09-22T04:37:29.983' AS DateTime), CAST(N'2017-09-22T04:37:29.983' AS DateTime), N'BATCHUS', N'BATCHUS', N'DI220920170000000010', N'An Giang - Huyện Chợ Mới - Ngoại thành 2')
INSERT [dbo].[DISTRICT_MST] ([DELETE_FLAG], [REG_DATE], [MOD_DATE], [REG_USER_NAME], [MOD_USER_NAME], [DISTRICT_ID], [DISTRICT_NAME]) VALUES (0, CAST(N'2017-09-22T04:37:29.983' AS DateTime), CAST(N'2017-09-22T04:37:29.983' AS DateTime), N'BATCHUS', N'BATCHUS', N'DI220920170000000011', N'An Giang - Huyện Châu Phú - Ngoại thành 2')
INSERT [dbo].[DISTRICT_MST] ([DELETE_FLAG], [REG_DATE], [MOD_DATE], [REG_USER_NAME], [MOD_USER_NAME], [DISTRICT_ID], [DISTRICT_NAME]) VALUES (0, CAST(N'2017-09-22T04:37:29.983' AS DateTime), CAST(N'2017-09-22T04:37:29.983' AS DateTime), N'BATCHUS', N'BATCHUS', N'DI220920170000000012', N'Bà Rịa – Vũng Tàu - Thành phố Vũng Tàu - Nội thành')
GO
INSERT [dbo].[ROLE_MST] ([DELETE_FLAG], [REG_USER_NAME], [MOD_USER_NAME], [REG_DATE], [MOD_DATE], [ROLE_ID], [TYPE_ROLE], [DESCRIPTION]) VALUES (0, N'BATCHUS', N'BATCHUS', CAST(N'2017-09-11T00:00:00.000' AS DateTime), CAST(N'2017-09-11T00:00:00.000' AS DateTime), N'RO110920170000000001', N'ADMIN', N'ADMINSTRATOR')
INSERT [dbo].[ROLE_MST] ([DELETE_FLAG], [REG_USER_NAME], [MOD_USER_NAME], [REG_DATE], [MOD_DATE], [ROLE_ID], [TYPE_ROLE], [DESCRIPTION]) VALUES (0, N'BATCHUS', N'BATCHUS', CAST(N'2017-09-11T00:00:00.000' AS DateTime), CAST(N'2017-09-11T00:00:00.000' AS DateTime), N'RO110920170000000002', N'STAFF', N'ADMINSTRATOR')
INSERT [dbo].[ROLE_MST] ([DELETE_FLAG], [REG_USER_NAME], [MOD_USER_NAME], [REG_DATE], [MOD_DATE], [ROLE_ID], [TYPE_ROLE], [DESCRIPTION]) VALUES (0, N'BATCHUS', N'BATCHUS', CAST(N'2017-09-11T00:00:00.000' AS DateTime), CAST(N'2017-09-11T00:00:00.000' AS DateTime), N'RO110920170000000003', N'SHIPPER', N'ADMINSTRATOR')
INSERT [dbo].[SEC_ROLE_MST] ([DELETE_FLAG], [REG_USER_NAME], [MOD_USER_NAME], [REG_DATE], [MOD_DATE], [SEC_ROLE_ID], [VALUE], [ROLE_ID]) VALUES (0, N'BATCHUS', N'BATCHUS', CAST(N'2017-09-11T00:00:00.000' AS DateTime), CAST(N'2017-09-11T00:00:00.000' AS DateTime), N'SE110920170000000001', N'CustMst.Index', N'RO110920170000000001')
INSERT [dbo].[SEC_ROLE_MST] ([DELETE_FLAG], [REG_USER_NAME], [MOD_USER_NAME], [REG_DATE], [MOD_DATE], [SEC_ROLE_ID], [VALUE], [ROLE_ID]) VALUES (0, N'BATCHUS', N'BATCHUS', CAST(N'2017-09-11T00:00:00.000' AS DateTime), CAST(N'2017-09-11T00:00:00.000' AS DateTime), N'SE110920170000000002', N'CustMst.Create', N'RO110920170000000001')
INSERT [dbo].[SEC_ROLE_MST] ([DELETE_FLAG], [REG_USER_NAME], [MOD_USER_NAME], [REG_DATE], [MOD_DATE], [SEC_ROLE_ID], [VALUE], [ROLE_ID]) VALUES (0, N'BATCHUS', N'BATCHUS', CAST(N'2017-09-11T00:00:00.000' AS DateTime), CAST(N'2017-09-11T00:00:00.000' AS DateTime), N'SE110920170000000003', N'CustMst.Details', N'RO110920170000000001')
INSERT [dbo].[USER_CONFIG_MST] ([DELETE_FLAG], [REG_USER_NAME], [MOD_USER_NAME], [REG_DATE], [MOD_DATE], [USER_ID], [BRANCH_ID], [ROLE_ID]) VALUES (0, N'SYSTEM', N'SYSTEM', CAST(N'2017-09-11T00:00:00.000' AS DateTime), CAST(N'2017-09-11T00:00:00.000' AS DateTime), N'US110920170000000001', N'BR240920170000000001', N'RO110920170000000001')
INSERT [dbo].[USER_MST] ([DELETE_FLAG], [REG_DATE], [MOD_DATE], [REG_USER_NAME], [MOD_USER_NAME], [USER_ID], [USER_NAME], [PASSWORD], [NUMBER_LOGIN_FAIL], [LAST_CHANGE_PASS], [OLD_PASSWORD], [ADDRESS], [PHONE]) VALUES (0, CAST(N'2017-08-19T00:00:00.000' AS DateTime), CAST(N'2017-09-22T05:51:51.573' AS DateTime), N'SYSTEM', N'SYSTEM', N'US110920170000000001', N'BATCHUS', N'3E04C50F2F7B79D842CCE8999D15F7D8', 1, CAST(N'2017-08-19T00:00:00.000' AS DateTime), N'', N'HN', N'098120011')
INSERT [dbo].[USER_MST] ([DELETE_FLAG], [REG_DATE], [MOD_DATE], [REG_USER_NAME], [MOD_USER_NAME], [USER_ID], [USER_NAME], [PASSWORD], [NUMBER_LOGIN_FAIL], [LAST_CHANGE_PASS], [OLD_PASSWORD], [ADDRESS], [PHONE]) VALUES (0, CAST(N'2017-08-19T00:00:00.000' AS DateTime), CAST(N'2017-09-22T05:51:51.573' AS DateTime), N'SYSTEM', N'SYSTEM', N'US110920170000000002', N'ADMIN', N'3E04C50F2F7B79D842CCE8999D15F7D8', 0, CAST(N'2017-08-19T00:00:00.000' AS DateTime), N'', N'HN', N'098120011')
INSERT [dbo].[WARD_MST] ([DELETE_FLAG], [REG_DATE], [MOD_DATE], [REG_USER_NAME], [MOD_USER_NAME], [WARD_ID], [WARD_NAME], [DISTRICT_ID]) VALUES (0, CAST(N'2017-09-26T20:17:07.377' AS DateTime), CAST(N'2017-09-26T20:17:07.377' AS DateTime), N'BATCHUS', N'BATCHUS', N'100', N'Xã Văn Giáo', N'DI220920170000000713')
INSERT [dbo].[WARD_MST] ([DELETE_FLAG], [REG_DATE], [MOD_DATE], [REG_USER_NAME], [MOD_USER_NAME], [WARD_ID], [WARD_NAME], [DISTRICT_ID]) VALUES (0, CAST(N'2017-09-26T20:17:07.377' AS DateTime), CAST(N'2017-09-26T20:17:07.377' AS DateTime), N'BATCHUS', N'BATCHUS', N'101', N'Xã An Cư', N'DI220920170000000713')
INSERT [dbo].[WARD_MST] ([DELETE_FLAG], [REG_DATE], [MOD_DATE], [REG_USER_NAME], [MOD_USER_NAME], [WARD_ID], [WARD_NAME], [DISTRICT_ID]) VALUES (0, CAST(N'2017-09-26T20:17:07.377' AS DateTime), CAST(N'2017-09-26T20:17:07.377' AS DateTime), N'BATCHUS', N'BATCHUS', N'102', N'Xã An Nông', N'DI220920170000000713')
GO
ALTER TABLE [dbo].[BILL_HDR_TBL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_HDR_TBL_CUST_MST_FROM] FOREIGN KEY([CUST_FROM_ID])
REFERENCES [dbo].[CUST_MST] ([CUST_ID])
GO
ALTER TABLE [dbo].[BILL_HDR_TBL] CHECK CONSTRAINT [FK_BILL_HDR_TBL_CUST_MST_FROM]
GO
ALTER TABLE [dbo].[BILL_HDR_TBL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_HDR_TBL_CUST_MST_TO] FOREIGN KEY([CUST_TO_ID])
REFERENCES [dbo].[CUST_MST] ([CUST_ID])
GO
ALTER TABLE [dbo].[BILL_HDR_TBL] CHECK CONSTRAINT [FK_BILL_HDR_TBL_CUST_MST_TO]
GO
ALTER TABLE [dbo].[BILL_HDR_TBL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_HDR_TBL_WARD_MST] FOREIGN KEY([WARD_ID_FROM])
REFERENCES [dbo].[WARD_MST] ([WARD_ID])
GO
ALTER TABLE [dbo].[BILL_HDR_TBL] CHECK CONSTRAINT [FK_BILL_HDR_TBL_WARD_MST]
GO
ALTER TABLE [dbo].[BILL_HDR_TBL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_HDR_TBL_WARD_MST1] FOREIGN KEY([WARD_ID_TO])
REFERENCES [dbo].[WARD_MST] ([WARD_ID])
GO
ALTER TABLE [dbo].[BILL_HDR_TBL] CHECK CONSTRAINT [FK_BILL_HDR_TBL_WARD_MST1]
GO
ALTER TABLE [dbo].[BILL_HDR_TBL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_HDR_TBL_WARD_MST2] FOREIGN KEY([WARD_ID_CURRENT])
REFERENCES [dbo].[WARD_MST] ([WARD_ID])
GO
ALTER TABLE [dbo].[BILL_HDR_TBL] CHECK CONSTRAINT [FK_BILL_HDR_TBL_WARD_MST2]
GO
ALTER TABLE [dbo].[BILL_LOG_TBL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_LOG_TBL_CUST_MST_FROM] FOREIGN KEY([CUST_FROM_ID])
REFERENCES [dbo].[CUST_MST] ([CUST_ID])
GO
ALTER TABLE [dbo].[BILL_LOG_TBL] CHECK CONSTRAINT [FK_BILL_LOG_TBL_CUST_MST_FROM]
GO
ALTER TABLE [dbo].[BILL_LOG_TBL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_LOG_TBL_CUST_MST_TO] FOREIGN KEY([CUST_TO_ID])
REFERENCES [dbo].[CUST_MST] ([CUST_ID])
GO
ALTER TABLE [dbo].[BILL_LOG_TBL] CHECK CONSTRAINT [FK_BILL_LOG_TBL_CUST_MST_TO]
GO
ALTER TABLE [dbo].[BILL_TBL]  WITH CHECK ADD  CONSTRAINT [FK_BILL_TBL_BILL_HDR_TBL] FOREIGN KEY([BILL_HDR_ID])
REFERENCES [dbo].[BILL_HDR_TBL] ([BILL_HDR_ID])
GO
ALTER TABLE [dbo].[BILL_TBL] CHECK CONSTRAINT [FK_BILL_TBL_BILL_HDR_TBL]
GO
ALTER TABLE [dbo].[BRANCH_MST]  WITH CHECK ADD  CONSTRAINT [FK_BRANCH_MST_WARD_MST] FOREIGN KEY([WARD_ID])
REFERENCES [dbo].[WARD_MST] ([WARD_ID])
GO
ALTER TABLE [dbo].[BRANCH_MST] CHECK CONSTRAINT [FK_BRANCH_MST_WARD_MST]
GO
ALTER TABLE [dbo].[CUST_MST]  WITH CHECK ADD  CONSTRAINT [FK_CUST_MST_WARD_MST] FOREIGN KEY([DEFAULT_WARD_ID])
REFERENCES [dbo].[WARD_MST] ([WARD_ID])
GO
ALTER TABLE [dbo].[CUST_MST] CHECK CONSTRAINT [FK_CUST_MST_WARD_MST]
GO
ALTER TABLE [dbo].[SEC_ROLE_MST]  WITH CHECK ADD  CONSTRAINT [FK_SEC_ROLE_MST_SEC_ROLE_MST] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[ROLE_MST] ([ROLE_ID])
GO
ALTER TABLE [dbo].[SEC_ROLE_MST] CHECK CONSTRAINT [FK_SEC_ROLE_MST_SEC_ROLE_MST]
GO
ALTER TABLE [dbo].[USER_CONFIG_MST]  WITH CHECK ADD  CONSTRAINT [FK_USER_CONFIG_MST_BRANCH_MST] FOREIGN KEY([BRANCH_ID])
REFERENCES [dbo].[BRANCH_MST] ([BRANCH_ID])
GO
ALTER TABLE [dbo].[USER_CONFIG_MST] CHECK CONSTRAINT [FK_USER_CONFIG_MST_BRANCH_MST]
GO
ALTER TABLE [dbo].[USER_CONFIG_MST]  WITH CHECK ADD  CONSTRAINT [FK_USER_CONFIG_MST_ROLE_MST] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[ROLE_MST] ([ROLE_ID])
GO
ALTER TABLE [dbo].[USER_CONFIG_MST] CHECK CONSTRAINT [FK_USER_CONFIG_MST_ROLE_MST]
GO
ALTER TABLE [dbo].[USER_CONFIG_MST]  WITH CHECK ADD  CONSTRAINT [FK_USER_CONFIG_MST_USER_MST] FOREIGN KEY([USER_ID])
REFERENCES [dbo].[USER_MST] ([USER_ID])
GO
ALTER TABLE [dbo].[USER_CONFIG_MST] CHECK CONSTRAINT [FK_USER_CONFIG_MST_USER_MST]
GO
ALTER TABLE [dbo].[WARD_MST]  WITH CHECK ADD  CONSTRAINT [FK_WARD_MST_DISTRICT_MST] FOREIGN KEY([DISTRICT_ID])
REFERENCES [dbo].[DISTRICT_MST] ([DISTRICT_ID])
GO
ALTER TABLE [dbo].[WARD_MST] CHECK CONSTRAINT [FK_WARD_MST_DISTRICT_MST]
GO
/****** Object:  StoredProcedure [dbo].[GetNextSequence]    Script Date: 9/27/2017 10:36:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  procedure [dbo].[GetNextSequence] 
 @sequenceName nvarchar(50),
 @nextSeq bigint output 
 
AS
BEGIN
  declare @_sql nvarchar(2000); 
  set @_sql = 'SELECT @value = NEXT VALUE FOR ' + @sequenceName  ;
  execute sp_executesql  @_sql, N'@value bigint OUTPUT', @nextSeq output; 
END ;





   
GO
